<!doctype html>
<html ng-app>
<head>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/jquery-ui/ui/jquery.ui.core.js"></script>
    <script src="bower_components/jquery-ui/ui/jquery.ui.widget.js"></script>
    <script src="bower_components/jquery-ui/ui/jquery.ui.mouse.js"></script>
    <script src="bower_components/jquery-ui/ui/jquery.ui.sortable.js"></script>

    <script src="main.js"></script>

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>

    <div ng-controller="TabsCtrl">
        <ul class="nav nav-tabs">
            <li ng-repeat="tab in tabs" ng-class="{'active' : tab.active}">
                <a ng-hide="tab.isEditMode" ng-dblclick="swithToEditMode($event)" href="#{{tab.id}}" data-toggle="tab" ng-click="setActive(tab.id)">{{tab.title}}
                    <i ng-click="removeTab($event)" class="glyphicon glyphicon-remove"></i>
                </a>
                <input ng-show="tab.isEditMode" ng-dblclick="swithToShow($event)" ng-blur="swithToShow($event)" ng-keyup="$event.keyCode == 13 ? swithToShow($event) : null" ng-model="tab.title">
            </li>
            <li class="add-new"><a href="javascript:void(0);" ng-click="addTab()"><i class="glyphicon glyphicon-plus"></i></a></li>
        </ul>

        <div class="tab-content">
            <div ng-repeat="tab in tabs" class="tab-pane" ng-class="{'active' : tab.active}" id="{{tab.id}}">{{tab.content}}</div>
        </div>
    </div>
</body>
</html>